<!-- If I am enrolled -> Muestra el contenido -->

<!-- else -> Muestrame la descripcion -->
<div id="courseImage"></div>
<div id="mainContainer" class="container">

  <div id="description" class="container">
    <div class="col s12 m12 l12"><h3 class="header">Descripción</h3></div>
    <div class="col s12 m12 l12 flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis, sit ipsa nobis quo laboriosam eveniet sint hic pariatur officiis vero voluptas optio fugiat culpa. Sed cum illo, a debitis consectetur eos voluptatum ea eveniet eaque, nesciunt facilis. Esse earum sequi similique iure nisi commodi architecto corporis at temporibus voluptatum.</div>
  </div>

  <div id="content" class="container">
    <h3 class="header">Contenido del curso</h3>

    <div class="row">
      <div class="col s6 m6 l6">
        <ul class="collection with-header flow-text">
          <li class="collection-header"><h4>Bloque I</h4></li>
          <li class="collection-item">1. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">2. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">3. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">4. Lorem ipsum dolor sit amet.</li>
        </ul>
      </div>
      <div class="col s6 m6 l6">
        <ul class="collection with-header flow-text">
          <li class="collection-header"><h4>Bloque II</h4></li>
          <li class="collection-item">1. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">2. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">3. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">4. Lorem ipsum dolor sit amet.</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        <ul class="collection with-header flow-text">
          <li class="collection-header"><h4>Bloque III</h4></li>
          <li class="collection-item">1. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">2. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">3. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">4. Lorem ipsum dolor sit amet.</li>
        </ul>
      </div>
      <div class="col s6 m6 l6">
        <ul class="collection with-header flow-text">
          <li class="collection-header"><h4>Bloque IV</h4></li>
          <li class="collection-item">1. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">2. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">3. Lorem ipsum dolor sit amet.</li>
          <li class="collection-item">4. Lorem ipsum dolor sit amet.</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="gallery" class="container">

    <div class="row"><div class="col s12 m12 l12"><h3 class="header">Galería</h3></div></div>

    <div class="row">
      <div class="col s4 m4 l4">
        <img src="assets/img/Dancing.jpg">
      </div>
      <div class="col s4 m4 l4">
        <img src="assets/img/Dancing.jpg">
      </div>
      <div class="col s4 m4 l4">
        <img src="assets/img/Dancing.jpg">
      </div>
    </div>

    <div class="row">
        <div class="col s4 m4 l4">
          <img src="assets/img/Dancing.jpg">
        </div>
        <div class="col s4 m4 l4">
          <img src="assets/img/Dancing.jpg">
        </div>
        <div class="col s4 m4 l4">
          <img src="assets/img/Dancing.jpg">
        </div>
      </div>
  </div>
</div>