<header>
  
    <div id="changeNameModal" class="modal">
        <div class="modal-content">
          <h4>Cambiar nombre</h4>
          <div class="row">
            <div class="col s6 m6 l6"><p class="flow-text">Nuevo Nombre:</p></div>
            <div class="col s6 m6 l6"> <br> <input type="text"></div>
          </div>
          <div class="row">
            <div class="col s6 m6 l6"><p class="flow-text">Nuevo Apellido:</p></div>
            <div class="col s6 m6 l6"> <br> <input type="text"></div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn light-green darken-2">Confirmar</a>
        </div>
      </div>

      <div id="changePictureModal" class="modal">
          <div class="modal-content">
            <h4>Cambiar Foto de Perfil</h4>
            <div class="row">
              <div class="col s12 m12 l12"><a class="waves-effect btn light-green darken-2 fullWidth">Selecciona el nuevo archivo</a></div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12"> <p>AQUI S EPREVISUALIZA LA FOTO</p></div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-effect btn light-green darken-2">Confirmar</a>
          </div>
        </div>

</header>

<main>
    <div id="mainContainer" class="container">
        <div class="container center-align">
          <div class="col s12 m12 l12"><i class="large material-icons">account_circle</i><a data-target="changePictureModal" class="modal-trigger tooltipped" data-position="top" data-tooltip="Cambiar Foto..."><i class="small material-icons prefix">create</i></a></div>
          <div class="col s12 m12 l12"> <h4>Benito Camelo <a data-target="changeNameModal" class="modal-trigger tooltipped" data-position="top" data-tooltip="Cambiar nombre..."> <i class="small material-icons prefix">create</i> </a> </h4> </div>
        </div>
      
        <div class="container">
          <ul class="collection">
            
            <li class="collection-item avatar">
              <i class="circle light-green darken-1"></i>
              <span class="title"> <b>Historia del Arte</b> </span>
              <p> <b>Instructor(a):</b> Rigoberta Menchú</p>
              <a class="secondary-content"><a class="waves-effect btn red">Salir</a></a>
            </li>
            <li class="collection-item avatar">
              <i class="circle light-green darken-1"></i>
              <span class="title"> <b>Dibujo Digital</b> </span>
              <p> <b>Instructor(a):</b> Pomposio Escalante</p>
              <a href="#!" class="secondary-content"><a class="waves-effect btn red">Salir</a></a>
            </li>
      
          </ul>        
        </div>
      
        <div class="container">
          <div class="col s12 m12 l12 center-align"><a class="waves-green btn red darken-2 fullWidth">Cerrar cuenta</a></div>
        </div>
      
      </div>
</main>
